<ion-header>
  <ion-toolbar>
    <ion-title>Receta</ion-title>

    <ion-buttons slot="start">
      <ion-back-button shape="round" href="/home">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid lines="full">
    <ion-row>
      <ion-label class="a">{{receta.title}}</ion-label>
    </ion-row>

    <ion-row>
      <ion-col size="8">Tiempo de preparación: </ion-col>
      <ion-col>{{receta.tiempoPrep}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">Categoria: </ion-col>
      <ion-col>{{receta.categoria}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">Ingredientes: </ion-col>
      <ion-col>{{receta.ingredientes}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>Ingrediente alergenos: </ion-col>
      <ion-col size="12">{{receta.ingredientesAlergenos}}</ion-col>
    </ion-row>

    <ion-row>
        <ion-col>Elaboración: </ion-col> 
        <ion-col size="12">{{receta.description}}</ion-col>  
    </ion-row>
  </ion-grid>
  

</ion-content>