<ion-header>
  <ion-toolbar>
    <ion-title class="a">
      Recetas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" href="/edit" routerDirection="forward">
        <ion-icon name="add">Añadir Recetas</ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-button shape="round" href="/Pescado" routerDirection="forward">
      <i class="fas fa-fish"></i>
    </ion-button>
    <ion-button shape="round" href="/Carne" routerDirection="forward">
    <i class="fas fa-drumstick-bite"></i>
    </ion-button>
    <ion-button shape="round" href="/Salsas" routerDirection="forward">
    <i class="fas fa-mortar-pestle"></i>
    </ion-button>
    <ion-button shape="round" href="/Vegetales" routerDirection="forward">
    <i class="fas fa-seedling"></i>
    </ion-button>
    <ion-button shape="round" href="/Aperitivos" routerDirection="forward">
    <i class="fab fa-cloudsmith"></i>
    </ion-button>
    <ion-button shape="round" href="/Aves" routerDirection="forward">
    <i class="fas fa-crow"></i>
    </ion-button>
    <ion-button shape="round" href="/Postres" routerDirection="forward">
    <i class="fas fa-birthday-cake"></i>
    </ion-button>
    <ion-button shape="round" href="/Sopa" routerDirection="forward">
    <i class="fas fa-utensil-spoon"></i>
    </ion-button>
    <ion-button shape="round" href="/Bebida" routerDirection="forward">
    <i class="fas fa-cocktail"></i>
    </ion-button>
  </ion-item>
  <ion-list lines="full">
    <ion-item *ngFor="let r of recetas">
      <div slot="start">
        <ion-label *ngIf='r.categoria === "Pescado"' class="fas fa-fish"></ion-label>
        <ion-label *ngIf='r.categoria === "Carne"' class="fas fa-drumstick-bite"></ion-label>
        <ion-label *ngIf='r.categoria === "Salsas"' class="fas fa-mortar-pestle"></ion-label>
        <ion-label *ngIf='r.categoria === "Vegetales"' class="fas fa-seedling"></ion-label>
        <ion-label *ngIf='r.categoria === "Aperitivos"' class="fab fa-cloudsmith"></ion-label>
        <ion-label *ngIf='r.categoria === "Aves"' class="fas fa-crow"></ion-label>
        <ion-label *ngIf='r.categoria === "Postres"' class="fas fa-birthday-cake"></ion-label>
        <ion-label *ngIf='r.categoria === "Sopa"' class="fas fa-utensil-spoon"></ion-label>
        <ion-label *ngIf='r.categoria === "Bebida"' class="fas fa-cocktail"></ion-label>
      </div>
      <ion-label (click)="infoRec(r.id)" slot="start">{{r.title}}</ion-label>
      <ion-icon slot="end" (click)="editReceta(r.id)" name="create" color="medium"></ion-icon>
      <ion-icon slot="end" (click)="deleteDialog(r.title, r.id)" name="trash" color="medium"></ion-icon>
    </ion-item>
  </ion-list>


</ion-content>